In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import read_csv
from ydata_profiling import ProfileReport
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn import svm
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from lazypredict.Supervised import LazyClassifier, LazyRegressor
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import SelectKBest, chi2, SelectPercentile
from imblearn.over_sampling import RandomOverSampler, SMOTE, SMOTEN
from sklearn.neighbors import KNeighborsClassifier
import re

In [2]:
import torch
import torch.nn as nn
import numpy as np
import torchvision
from torchvision import datasets, transforms
import torchvision.transforms as transforms
import torch.nn.functional as F

In [3]:
# Tải dữ liệu MNIST dạng PIL Image + label
train_dataset = datasets.CIFAR10(root='./data', train=True, download=True)
test_dataset = datasets.CIFAR10(root='./data', train=False, download=True)

# Chuyển dữ liệu thành pandas DataFrame
def mnist_to_dataframe(dataset):
    images = []
    labels = []
    for img, label in dataset:
        img_array = np.array(img)  # PIL Image → numpy array
        img_flat = img_array.flatten()  # trải thành 1 chiều
        images.append(img_flat)
        labels.append(label)
    df = pd.DataFrame(images)
    df['label'] = labels
    return df

train_df = mnist_to_dataframe(train_dataset)
test_df = mnist_to_dataframe(test_dataset)

display(train_df)

,0,1,2,3,4,5,6,7,8,9,...,3063,3064,3065,3066,3067,3068,3069,3070,3071,label
0,59,62,63,43,46,45,50,48,43,68,...,216,184,140,151,118,84,123,92,72,6
1,154,177,187,126,137,136,105,104,95,102,...,143,133,139,143,134,142,143,133,144,9
2,255,255,255,253,253,253,253,253,253,253,...,78,85,83,79,85,83,80,86,84,9
3,28,25,10,37,34,19,38,35,20,42,...,54,47,28,63,56,37,72,65,46,4
4,170,180,198,168,178,196,177,185,203,183,...,75,79,82,71,75,78,73,77,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,145,161,194,151,166,199,156,171,205,155,...,39,41,56,36,38,53,37,39,54,2
49996,255,245,132,254,247,134,255,249,137,254,...,249,174,79,252,181,81,253,181,76,6
49997,35,178,235,40,176,239,42,176,241,39,...,27,52,77,21,43,66,12,31,50,9
49998,189,211,240,186,208,236,185,207,235,184,...,195,184,169,196,189,171,195,190,171,1
49999,229,229,239,236,237,247,234,236,247,231,...,179,177,173,164,164,162,163,163,161,1

In [4]:
target = 'label'
x_train = train_df.drop(target, axis = 1)
y_train = train_df[target]
x_test = test_df.drop(target, axis = 1)
y_test = test_df[target]

In [ ]:
model = LogisticRegression()
model.fit(x_train, y_train)
y_predict = model.predict(x_test)

In [13]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.61      0.62      0.62      1000
           1       0.64      0.65      0.64      1000
           2       0.42      0.41      0.41      1000
           3       0.38      0.39      0.38      1000
           4       0.47      0.43      0.45      1000
           5       0.49      0.43      0.46      1000
           6       0.54      0.64      0.58      1000
           7       0.63      0.57      0.60      1000
           8       0.65      0.69      0.67      1000
           9       0.59      0.61      0.60      1000

    accuracy                           0.54     10000
   macro avg       0.54      0.54      0.54     10000
weighted avg       0.54      0.54      0.54     10000